html body {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Hedvig Letters Serif", serif;
  position: relative;
}
p {
  font-size: 14px !important;
  line-height: 25px;
}
/* HEADER */
.header {
  max-width: 100%;
  margin: auto;
  text-align: center;
  z-index: 1;
  padding-bottom: 2px;
  box-shadow: -1px 4px 11px rgba(0, 0, 0, 0.16);
}
/* HEADER TOP */
.header_top {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 29px;
  align-items: center;
}
/* HEADER TOP LEFT */
.span_topLeft {
  width: 40%;
}
.span_topLeft ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.span_topLeft ul li a {
  text-decoration: none;
  margin-right: 15px;
}
.span_topLeft ul li a img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0;
}
.span_topLeft ul li a span {
  text-transform: capitalize;
  font-size: 13px;
  padding: 0 0 0 5px;
  color: #4d4d4d;
}
.span_topLeft .txt-TopLR {
  color: #003468 !important;
  font-weight: 400;
}
/* HEADER TOP MID */
.span_topMid img {
  width: 88px;
}
/* HEADER TOP RIGHT */
.span_topRight {
  width: 40%;
}
.span_topRight ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.span_topRight ul li {
  position: relative;
}
.span_topRight ul li a {
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}
.span_topRight .img-iconTopRL {
  max-width: 19px;
  max-height: 19px;
  opacity: 0.5;
}
.span_topRight ul li a span {
  text-transform: capitalize;
  font-size: 13px;
  padding: 0 0 0 5px;
  color: #4d4d4d;
  white-space: nowrap;
}
.span_topRight .number-sp {
  padding: 0 !important;
  color: white !important;
  background-color: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 8px !important;
  line-height: 12px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  bottom: -6px;
  left: 28px;
}
/* HEADER MID */
.header_mid {
  height: 1px;
  background: rgba(112, 112, 112, 0.1);
  max-width: 1250px;
  margin: auto;
}
/* HEADER BOTTOM */
.header_bottom {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 29px;
  align-items: center;
}
/* HEADER BOTTOM LEFT */
.span_bottomLeft ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.span_bottomLeft li {
  position: relative;
}
.span_bottomLeft ul li a {
  text-decoration: none;
  padding-right: 50px;
}
.span_bottomLeft ul li a span {
  text-transform: capitalize;
  color: #868686;
  font-size: 14px;
}
.span_bottomLeft ul li a span:hover {
  color: #c48c46;
}
.span_bottomLeft .over_layBottomL1 {
  height: 3px;
  background-color: #c48c46;
  width: 66px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL1 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .over_layBottomL2 {
  height: 3px;
  background-color: #c48c46;
  width: 101px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL2 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .over_layBottomL3 {
  height: 3px;
  background-color: #c48c46;
  width: 55px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL3 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .over_layBottomL4 {
  height: 3px;
  background-color: #c48c46;
  width: 61px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL4 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .over_layBottomL5 {
  height: 3px;
  background-color: #c48c46;
  width: 83px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL5 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .over_layBottomL6 {
  height: 3px;
  background-color: #c48c46;
  width: 27px;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
li:hover .over_layBottomL6 {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.span_bottomLeft .discount {
  color: #b94d56 !important;
}
.menu_bottom1 {
  max-width: 1200px;
  margin: auto;
}
.menu_bottom1 .menu_bottom1Header {
  font-weight: bold !important;
}
table {
  width: 100%;
}
table tr td:first-child {
  width: 150px;
}
.menu_bottom1 table {
  background-color: white;
  width: 1200px;
}
.menu_bottom1 tr {
  text-align: start;
  text-transform: capitalize;
}
.menu_bottom1 tr td {
  font-size: 12px;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 10.5px;
}
.menu_bottom1 tr td a {
  color: #4d4d4d;
}
.menu_bottom1 tr td a:hover {
  color: #c48c46;
}
.menu_bottom2 {
  max-width: 1200px;
  margin: auto;
}
.menu_bottom2 .menu_bottom2Header {
  font-weight: bold !important;
}
.menu_bottom2 table {
  background-color: white;
  width: 1200px;
  transform: translateX(-10%);
}
.menu_bottom2 tr {
  text-align: start;
  text-transform: capitalize;
}
.menu_bottom2 tr td {
  font-size: 12px;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 12px;
}
.menu_bottom2 tr td a {
  color: #4d4d4d;
}
.menu_bottom2 tr td a:hover {
  color: #c48c46;
}
.menu_bottom3 {
  max-width: 1200px;
  margin: auto;
}
.menu_bottom3 .menu_bottom3Header {
  font-weight: bold !important;
}
.menu_bottom3 table {
  background-color: white;
  width: 1200px;
  transform: translateX(-22.2%);
}
.menu_bottom3 tr {
  text-align: start;
  text-transform: capitalize;
}
.menu_bottom3 tr td {
  font-size: 12px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 12px;
}
.menu_bottom3 tr td a {
  color: #4d4d4d;
}
.menu_bottom3 tr td a:hover {
  color: #c48c46;
}
.menu_bottom4 {
  max-width: 1200px;
  margin: auto;
}
.menu_bottom4 .menu_bottom4Header {
  font-weight: bold !important;
}
.menu_bottom4 table {
  background-color: white;
  width: 1200px;
  transform: translateX(-31%);
}
.menu_bottom4 tr {
  text-align: start;
  text-transform: capitalize;
}
.menu_bottom4 tr td {
  font-size: 12px;
  white-space: nowrap;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 12px;
}
.menu_bottom4 tr td a {
  color: #4d4d4d;
}
.menu_bottom4 tr td a:hover {
  color: #c48c46;
}
.menu_bottom5 {
  max-width: 1200px;
  margin: auto;
}
.menu_bottom5 .menu_bottom5Header {
  font-weight: bold !important;
}
.menu_bottom5 table {
  background-color: white;
  width: 1200px;
  transform: translateX(-40.5%);
}
.menu_bottom5 tr {
  text-align: start;
  text-transform: capitalize;
}
.menu_bottom5 tr td {
  font-size: 12px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 12px;
}
.menu_bottom5 tr td a {
  color: #4d4d4d;
  width: 100px;
  height: 300px;
}
.menu_bottom5 tr td a:hover {
  color: #c48c46;
}
/* HEADER BOTTOM RIGHT */
.span_bottomRight {
  align-items: center;
  width: 25%;
  margin-left: 0;
  position: relative;
  background-color: rgba(76, 76, 76, 0.1);
  border-radius: 16px;
  margin-top: 4px;
  display: flex;
}
.span_bottomRight input {
  background: transparent;
  border: none;
  color: #707070;
  font-size: 13px;
  width: 90%;
  height: 35px;
  font-style: italic;
  padding-left: 20px;
  outline: none;
}
input::placeholder {
  font-size: 14px;
}
.span_bottomRight button {
  background: transparent;
  border: none;
  padding-right: 15px;
  cursor: pointer;
}
.span_bottomRight img {
  vertical-align: middle;
}
/* BODY */
.checkContainer {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 50px;
}
.checkAll {
  width: 40%;
  border: 1px solid gray;
  padding: 15px;
}
.checkContent {
  width: 100%;
}
.checkoutsLeft {
  display: flex;
}
.checkoutsLeftimg {
  width: 140px;
  height: 140px;
  padding: 15px;
}
.checkoutsLeftimg img {
  width: 100%;
}
.checkoutsLeftinf {
  width: 100%;
}
.checkoutsLeftName p {
  margin: 0;
}
.checkoutsLeftName a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.checkoutsLeftId span {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.checkoutsLeftId {
  margin-top: 4px;
}
.checkoutsLeftPrice {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.checkoutsLeftQuantity {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.checkoutsLeftQuantity input {
  width: 30px;
  height: 30px;
  text-align: center;
}
.checkoutsLeftQuantityR i {
  font-size: 10px;
  padding: 2px;
  cursor: pointer;
}
.checkoutsLeftDelete button {
  text-decoration: none;
  color: black;
  margin-top: 4px;
  font-size: 11px;
  border: none;
  background-color: transparent;
}
.checkoutsLeftDelete i {
  font-size: 11px;
  margin-right: 5px;
}
/* CHECKOUT  */
.checkout {
  width: 60%;
}
.checkout_content {
  width: 100%;
}
.step_title {
  color: #002d5c;
  font-size: 14px;
  font-weight: bold;
  background-color: #fbf9f1;
  padding: 20px 0 20px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.number_step {
  border: 1px solid #002d5c;
  border-radius: 100%;
  padding: 0px 10px;
}
.gender {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
}
.gender_content {
  width: 100px;
}

.form_row {
  display: flex;
  justify-content: space-between;
}
.checkout_detail {
  width: 49.5%;
}
.checkout input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.nav-item {
  width: 49.5%;
}
.form_row_note {
  width: 100%;
}
.free_fast_delivery {
  display: flex;
  font-size: 14px;
  padding: 15px;
  align-items: center;
  line-height: 25px;
  color: #003468;
  border: 1px solid #003468;
  border-radius: 10px;
}

.fast_delivery_content {
  margin-left: 10px;
}
.another_choice {
  border: 1px solid rgba(0, 0, 0, 0.318);
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  color: #e1ad26;
  line-height: 14px;
  font-size: 18px;
  margin-bottom: 15px;
}

.customer_choice {
  font-size: 14px;
  margin: 10px 0;
}
.customer_choice input[type="checkbox"] {
  height: 18px;
  width: 20px;
}
.PNJ_note {
  margin-top: 15px;
  padding: 10px 20px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 3px 3px 0 0 #ccc;
  -webkit-box-shadow: 3px 3px 0 0 #ccc;
}
.finish_order {
  text-align: center;
  margin: 50px 0;
}
.finish_order button {
  background-color: #002d5c;
  color: white;
  padding: 12px;
  border: none;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.finish_order p {
  color: #002d5c;
  font-size: 18px;
  margin-top: 10px;
}

.caculate,
.total {
  display: flex;
  justify-content: space-between;
}
.total p span {
  color: red;
  font-weight: bold;
}
.contentVat p {
  font-style: italic;
  text-align: end;
  font-size: 12px;
}

/* FOOTER  */
.footerTop {
  height: 1px;
  background-color: #707070;
  max-width: 1200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.footerContent {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
.logoPNJ img {
  width: 200px;
}
.detailContent {
  display: flex;
  align-items: start;
  padding-bottom: 20px;
}
.detailContent p {
  color: rgba(0, 0, 0, 0.653);
  font-size: 14px;
  line-height: 25px;
}
.detailContent ul li {
  color: rgba(0, 0, 0, 0.653);
  font-size: 14px;
  list-style: none;
  line-height: 27px;
}
.detailContent h2 {
  font-size: 14px;
}
.infoPNJ {
  width: 30%;
}
.infoPNJ a {
  text-decoration: none;
  color: blue;
}
.infoPNJ .certificate {
  margin-top: 20px;
}
.infoPNJ .contact {
  margin-top: 20px;
}
.aboutPNJ a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.725);
}
.servicePNJ {
  margin: 0 30px;
}
.servicePNJ a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.705);
}

.contactPNJ .socialPNJ img {
  max-height: 35px;
  max-width: 35px;
  margin: 15px 3px;
}
.footerChild {
  display: flex;
  max-width: 1200px;
  flex-direction: row-reverse;
  justify-content: center;
}
.footerChild h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
.paymentPNJ {
  margin-right: 50px;
  margin-left: 500px;
}
.paymentPNJ .img_paymentPNJ {
  display: flex;
  margin-left: 5px;
}
.paymentPNJ img {
  max-height: 35px;
  max-width: 35px;
  padding-right: 5px;
}
.certificationPNJ img {
  max-height: 40px;
  max-width: 100px;
}
#pills-home-tab h5 {
  font-size: 15px !important;
  font-weight: bold;
  margin-bottom: 2px;
}
#pills-home-tab p {
  font-size: 15px !important;
  margin: 0;
}
#pills-profile-tab h5 {
  font-size: 15px !important;
  font-weight: bold;
  margin-bottom: 2px;
}
#pills-profile-tab p {
  font-size: 15px !important;
  margin: 0;
}
.free_ship h5 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .aboutPNJ,
  .servicePNJ {
    display: none;
  }
  .span_topLeft {
    display: none;
  }
  .span_bottomLeft {
    display: none;
  }
  .span_bottomRight {
    margin: auto;
    width: 100%;
  }

  .detailContent {
    flex-direction: column;
  }
  .infoPNJ {
    width: 100%;
  }
  .contactPNJ {
    border-top: 1px solid black;
    width: 100%;
    margin-left: 0px !important;
  }
  .contactPNJ h2 {
    padding-top: 10px;
  }
  .news_content {
    flex-direction: column;
  }
  .news_left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .item_left,
  .item_right {
    margin: 0 15px;
  }
  .convenience_content {
    margin: 0;
  }
  .conveniencePNJ {
    justify-content: space-around;
  }
  .paymentPNJ {
    margin: 0px;
  }
  .footerChild {
    flex-direction: column;
  }
  .checkContainer {
    flex-direction: column;
    padding: 0 10px;
  }
  .checkAll {
    width: 100%;
  }
  .checkout {
    width: 100%;
  }
}
@media screen and (max-width: 431px) {
  .finish_order button{
    width: 80%;
    margin: auto;
  }
}